* {
    box-sizing: border-box;
 }

body{
    font-family: monospace;
    padding: 0;
    margin: 0;
    background-color: black;
}
h2, h3{
    color: #ce0000;
}

.hehe{
    color: blue;
}

.topik{
    font-size: 15px;
}

.overview{
    font-size: 16px;
}

footer{
    padding: 20px;
    color: white;
    background-color: #272525;
}


footer h3{
    color:white;
}

header{
    display: inline;
}

header h2{
    font-size: 40px;
    -webkit-text-stroke: 2px rgb(51, 51, 51);
}

nav a{
    font-size: 25px;
    font-weight: 400;
    text-decoration: none;
}

nav a:hover{
    color: black;
}

a{
    text-decoration: none;
}

.blok{
    margin: 0 auto;
    width: 50%;
    border: 2px solid black;
    padding: 20px;
}

.gambar{
    width: 100%;
    max-height: 300px;
    object-fit: contain;
    object-position: center;
}


main{
    padding: 20px;    
    overflow: auto;
}

#thanos{
    width: 200px;
}

.kartu{
    
    border-radius: 5px;
    padding: 20px;
    margin-top: 20px;
    background-color: white;
}

.kaption{
    color: white;
    width: 100%;
	text-align: center;
	position: absolute;
}

#tebal{
    font-weight: bold;
}



.jumbotron{
    font-size: 20px;
    padding: 60px;
    text-align: center;
    color: white;
}

nav li{
    display: inline;
    margin-right: 10px;
    margin-bottom: 50px;
}


nav{
    width: 100%;
    z-index: 99999;
    height: 80px;
    margin-top: -5px;
    background-color: #b30713;    
    padding: 5px;
    position: sticky;
    top: 0;
}

nav a{
    color: white;
    margin-left: 30px;    
    font-weight: bold;
    display: inline-block;
}


footer a{
    color:white;
    text-decoration: none;
    font-weight: bold;
}


#konten{
    float:left;
    width: 75%;    
}


#bio th{
    text-align: left;
}



aside{
    float:right;
    width: 25%;
    padding-left: 20px;
}

h3.flextex{
    text-align: center;
}

.flex{
    display: flex;
    flex-direction: column;

    /*properti lain*/
    
    width: 800px;
    height: 250px;
    padding: 20px;
    border: 2px solid black;
    background-color: darkcyan;
    border-radius: 10px;
    margin: 0 auto;
}

.footerflex{
    display: flex;
    width: 1349px;
    height: 300px;
}

.footerkiri{
    flex-grow: 1;
    margin: 5px;
}

.footerkiri ul{
    list-style-type: none;
}

.footerkanan ul{
    list-style-type: none;
    text-align: right;
    margin-right: 40px;
}

.footertengah{
    flex-grow: 1;
    margin: 5px;
}

.footerkanan{
    flex-grow: 1;
    margin: 5px;
}

.robothead{
    background-color: black;
    padding: 10px;
    width: 50%;
    margin: 0 auto;
    margin-bottom: 40px;
}

.quotes{
    margin: 0 auto;
    text-align: center;
}

.episode{
    background-color: #ce0000;
    
    color: white;
}

.robothead marquee{
    color: #ce0000;
    font-size: 30px;
    text-align: center;
    font-weight: bold;
    z-index: -1;
}

.figs{
    margin-left: 164px;
}

.kotak2{
    flex-grow: 2;
    border: 2px solid black;
    margin: 5px;
    background-color: aqua;
    border-radius: 10px;
}

.kotak{
    flex-grow: 1;
    /*properti lain*/
    border: 2px solid black;
    margin: 5px;
    background-color: aqua;
    border-radius: 10px;
}

.profile a:hover{
    font-weight: bold;    
}

.profilef a:hover{
    font-weight: bold;    
}

.profilef{
    text-align: center;
}

.profile{
    text-align: center;
}

.netflex{
    flex-direction: column;
    display: flex;
    width: 800px;
    height: 400px;
    background-color: red;
    padding: 20px;
    border-radius: 10px;
    margin:0 auto;
}

.flexrow{
    flex-grow: 1;
    display: flex;
    background: blue;
    margin: 5px;
    border-radius: 10px;
    padding: 10px;
}

.flexbox{
    flex-grow: 1;
    margin: 10px;
    border-radius: 10px;
}

.nestedflex{
    text-align: center;
}


.utama{
    width: 96%;
    max-width: 960px;
    margin: 0 auto;
}

.btn-style{    
    border-radius: 5px;
    padding: 15px 20px;
    background-color: red;
    margin-left: 10px;
    display: inline-block;
}

.insta{
    background-color: purple;
}

.fb{
    background-color: #002ca3;
}

.btn-style:hover{
    background-color: black;
}

#mrrobots{
    color: #b30713;
    
}



.tombolssn{
    padding: 10px;
    text-align: center;
}

button{
    border: none;
}

.tombolssn button:hover{
    color: black;
}

.tombolssn h3{
    color: black;
}

.childbtn{
    background-color: #ce0000;
    color: white;
}


footer h3{
    padding: 20px;
    font-size: 30px;
}

footer h2{
    color: white;
    font-size: 30px;
    margin-top: 0px;
    padding: 5px;
    border: 2px solid #b30713;
    font-family: monospace;
}

footer p{
    padding-top: 20px;
}

@media screen and (max-width: 1000px){
    #konten,
    header img,
    aside{
        width: 100%;
        padding: 0;
    }
}
